body {
    background-color: rgb(149, 218, 195);
    text-align: center;
}
header {
    background-color: rgb(207, 228, 221);
    text-align: center;
}
input, button {
    display: block;
    margin-bottom: 10px;
}


